.auth-layout {

    align-items: center;
    background-color: $body-background-color;
    display: flex;
    height: 100vh;
    justify-content: center;

    > .auth-form {
        background-color: #fff;
        border: 3px solid $base-color-light;
        border-radius: 5px;
        color: #555555;
        max-width: 450px;
        padding: 2rem;
        width: 450px;
    }

    > .auth-loading-overlay {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        color: $base-color;
        display: flex;
        height: 100vh;
        justify-content: center;
        position: absolute;
        width: 100vw;
    }

    .select select, .textarea, .input, .taginput .taginput-container.is-focusable {
        background-color: $base-color-lighter;
        border-color: $base-color-light;
        border-width: 2px;
        border-radius: 4px;
        color: $base-color-dark;
    }
}
