// Buefy
@import 'variables';
@import "~buefy/src/scss/buefy-build";

// Lazy Trader Components
@import 'mixins';
@import 'utilities';
@import './components/aside';
@import './components/card';
@import './components/loading';
@import './components/nav-bar';
@import './components/steps';
@import './components/ticker-bar';
@import './components/title-bar';
@import './components/titles';
@import './pages/auth';

body {
    background-color: $body-background-color;
    color: $base-color-light;
    font-family: $family-sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: $size-base * 2;
}

h2 {
    font-size: $size-base * 1.75;
}

h3 {
    font-size: $size-base * 1.5;
}

h4 {
    font-size: $size-base * 1.25;
}

h5 {
    font-size: $size-base;
}

.content-wrapper {
    padding: 1.3rem 2.2rem;
}

a {
    color: $link;

    &.is-active {
        color: $link;
    }

    &:hover {
        color: $link-hover;
    }
}

hr {
    background-color: $base-color-medium;
    margin: 1rem 0;
}

.is-user-avatar {
    &.has-max-width {
        max-width: $size-base * 7;
    }

    &.is-aligned-center {
        margin: 0 auto;
    }

    img {
        margin: 0 auto;
        border-radius: $radius-rounded;
    }
}
