// Buefy
@import "~buefy/src/scss/buefy-build";

// Lazy Trader Components
@import 'variables';
@import 'mixins';
@import 'utilities';
@import './components/loading';
@import './components/aside';
@import './components/auth-layout';
@import './components/nav-bar';
@import './components/title-bar';
@import './components/titles';

body {
    background-color: $body-background-color;
}


a {
    color: $link;

    &:hover {
        color: $link-hover;
    }
}
