/* We'll need some initial vars to use here */
@import "~bulma/sass/utilities/initial-variables";

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base;

/* Default font */
$family-sans-serif: Montserrat, Helvetica, Arial, serif !important;

/* Base color */
$base-color: #10163a;
$base-color-dark: #212744;
$base-color-medium: #262c49;
$base-color-light: #c2c6dc;
$base-color-lighter: lighten(#c2c6dc, 20%);
$base-gradient: linear-gradient(to right, $base-color, #1e344c);

$link: $base-color-light;
$link-visited: lighten($base-color-light, 25%);
$link-hover: lighten($base-color-light, 25%);
$light-border: none;

$text-strong: $base-color-light;

/* Override Primary */
$primary: #7367f0;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$info: #00cfe8;

/* Body */
$body-background-color: $base-color-medium;

/* Navbar: Bulma override */
$navbar-dropdown-radius: $radius-small;

/* NavBar: specifics */
$navbar-input-color: $grey-darker;
$navbar-input-placeholder-color: $grey-lighter;
$navbar-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .25);
$navbar-divider-border: 1px solid rgba($grey-lighter, .25);
$navbar-item-h-padding: $default-padding * .75;
$navbar-avatar-size: 1.75rem;
$navbar-border-radius: .5rem;

$navbar-dropdown-background-color: $base-color-medium;
$navbar-dropdown-border-top: 2px solid rgba(0,0,0,.05);

$navbar-dropdown-item-hover-color: $base-color-lighter;
$navbar-dropdown-item-hover-background-color: $primary;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: $primary;

/* Title Bar: specifics */
$title-bar-color: $base-color-light;
$title-bar-active-color: lighten($base-color-light, 20%);

/* Icon: specifics */
$icon-update-mark-size: $size-base * .5;
$icon-update-mark-color: $yellow;

/* Aside: Bulma override */
$menu-item-radius: 0;
$menu-list-link-padding: $size-base 0;
$menu-item-color: $base-color-light;
$menu-item-hover-color: $base-color-light;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $base-color-light;
$menu-item-active-background-color: transparent;

/* Aside: specifics */
$aside-width: $size-base * 16.25;
$aside-width-closed: $size-base * 5.5;
$aside-logo-width: $size-base * 9;
$aside-mobile-width: $size-base * 15;
$aside-icon-width: $size-base * 3;
$aside-submenu-font-size: $size-base * .95;
$aside-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
$aside-background-color: $base-color;
$aside-toggle-size: 30px;

/* Card: Bulma override */
$card-background-color: $base-color;
$card-color: $base-color-light;
$card-header-color: $base-color-lighter;
$card-header-weight: 500;
$card-header-padding: 1.5rem 1.5rem 0;
$card-footer-color: $base-color-light;
$card-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
$card-header-shadow: none;

/* Card: specifics */
$card-header-border-bottom-color: $base-color-light;

/* Table: Bulma override */
$table-color: $base-color-light;
$table-background-color: $base-color-dark;
$table-cell-border: 1px solid #414561;
$table-head-cell-color: $base-color-lighter;
$table-striped-row-even-background-color: $base-color-medium;

/* Table: specifics */
$table-avatar-size: 1.5rem;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid rgba($base-color, 0.5);

/* Modal card */
$modal-card-width: 40vw;
$modal-card-width-mobile: 90vw;

/* Notification: Bulma override */
$notification-radius: $radius-small;
$notification-padding: $default-padding * .75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: $white;
$footer-padding: $default-padding * .33 $default-padding;

/* Footer: specifics */
$footer-logo-height: $size-base * 2;

/* Progress: Bulma override */
$progress-bar-background-color: $white-ter;

