@include desktop {
    html {
        &.has-aside-left {
            &.has-aside-expanded {
                body {
                    padding-left: $aside-width;
                }
            }

            &:not(.has-aside-expanded) {
                body {
                    padding-left: $aside-width-closed;
                }
            }

            body {
                @include transition(padding-left);
            }
            aside.is-placed-left {
                display: block;
            }
        }
    }

    aside.aside.is-expanded {
        width: $aside-width;

        .menu-list {
            @include icon-with-update-mark($aside-icon-width);

            span.menu-item-label {
                display: inline-block;
            }

            li.is-active {
                ul {
                    display: block;
                }
            }

            li a:hover {
                padding-left: 2rem;
            }
        }
    }

    aside.aside:not(.is-expanded) {
        width: $aside-width-closed;
    }
}

aside.aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 100vh;
    padding: 0;
    box-shadow: $aside-box-shadow;
    background: $aside-background-color;

    @include transition(width);

    .toggle-button {
        display: flex;
        align-items: center;
        font-size: $aside-toggle-size / 2;
        justify-content: center;
        position: absolute;
        top: $aside-toggle-size / 2;
        right: -($aside-toggle-size / 2);
        z-index: 2;
        border-radius: 50%;
        background-color: $aside-background-color;
        color: $base-color-lighter;
        width: $aside-toggle-size;
        height: $aside-toggle-size;

        &:hover {
            animation: pulse 2s infinite;
            background-color: $base-color-light;
            color: $base-color-medium;
        }
    }


    @keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba($base-color-lighter, 0.7);
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba($base-color-lighter, 0);
        }

        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba($base-color-lighter, 0);
        }
    }

    .image {
        margin: $size-base auto $size-base * 1.5;

        img {
            max-width: $aside-logo-width;
            margin: 0 auto;
        }
    }

    .menu-list {

        span.menu-item-label {
            display: none;
        }

        li {

            padding: 0 1.25rem;

            ul {
                display: none;
                border-left: 0;
                background-color: rgba($base-color, .5);
                padding-left: 0;
                margin: 0 0 $default-padding * .5;

                li {
                    a {
                        padding: $default-padding * .5 0 $default-padding * .5 $default-padding * .5;
                        font-size: $aside-submenu-font-size;

                        &.has-icon {
                            padding-left: 0;
                        }
                        &.is-active {
                            &:not(:hover) {
                                background: transparent;
                            }
                        }
                    }
                }
            }

            a {
                border-radius: $radius-large;
                color: lighten($primary, 75%);
                margin-bottom: $size-base / 2;
                padding: 0.625rem 0.9375rem;

                @include transition(padding-left);

                &:hover {
                    background: transparent;
                }

                &.is-active {
                    background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, .7));
                    box-shadow: 0 0 10px 1px rgba(115, 103, 240, .7) !important;
                }

                > .fa, > svg {
                    margin-right: 0.65rem;
                }
            }
        }
    }

    .menu-label {
        padding: 0 $default-padding * .5;

        &:first-of-type {
            margin-top: 0;
        }
    }

}

@include touch {
    #app, nav.navbar {
        @include transition(margin-left);
    }

    aside.aside {
        @include transition(left);
    }

    html.has-aside-mobile-transition {
        body {
            overflow-x: hidden;
        }
        body, #app {
            width: 100vw;
        }
        nav.navbar {
            width: calc(100vw - 4.4rem);
        }
        aside.aside {
            width: $aside-mobile-width;
            display: block;
            left: $aside-mobile-width * -1;

            .toggle-button {
                display: none;
            }

            .image {
                img {
                    max-width: $aside-mobile-width * .33;
                }
            }

            .menu-list {
                li.is-active {
                    ul {
                        display: block;
                    }
                }
                a {
                    @include icon-with-update-mark($aside-icon-width);

                    span.menu-item-label {
                        display: inline-block;
                    }
                }
            }
        }
    }

    html.has-aside-mobile-expanded {
        #app, nav.navbar {
            margin-left: $aside-mobile-width;
        }
        aside.aside {
            left: 0;
        }
    }
}
