.card {
    border-radius: $radius-large;
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    margin-bottom: 1.5rem;

    .card-header {
        .card-header-title {
            font-size: 1.32rem;
            letter-spacing: .05rem;
        }
    }

    &.card-tight > .card-content {
        padding: 0.75rem 0.5rem;
    }
}
