.ticker-wrapper {
    max-width: 100%;
    overflow-x: auto;

    .tickers {
        animation: moveTicker 34s linear infinite;
        align-content: center;
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
        transform: translate3d(0, 0, 0);

        > .ticker {
            align-items: center;
            border-radius: $radius-large;
            display: flex;
            flex: 0 0 auto;

            padding: 4px 8px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                background-color: $base-color-light;
                color: $base-color;
            }

            img:not(:last-child), span:not(:last-child) {
                margin-right: 0.5rem;
            }

            img {
                border-radius: 50%;
                max-height: 1rem;
                max-width: 1rem;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes moveTicker {
    100% {
        transform: translateX(-66.6666%);
    }
}
