section.section.is-title-bar {
    padding: $default-padding 0;
    border-bottom: $light-border;
    font-weight: 300;

    ul {
        li {
            color: $base-color-light;
            display: inline-block;
            font-size: $size-base * 2;
            padding: 0 0 0 $default-padding * .5;


            &:after {
                display: inline-block;
                content: '/';
                padding-left: $default-padding * .5;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                font-weight: 500;
                color: $title-bar-active-color;

                &:after {
                    display: none;
                }
            }
        }
    }
}

